<div dir="ltr">
    <div><br></div>
    Welcome to Every Shot Counts!
    <br><br>
    To access your account and get started, you'll need to have the athlete download the&nbsp;Every Shot Counts app
    from&nbsp;either the Apple&nbsp;App Store or Google Play Store and then
    enter a unique 6-digit code. This code helps ensure the security of your personal information and account.
    <div><br></div>
    <div>
        <b>[add logos for each store here with a link to the app]&nbsp;</b>
        <br><br>
        Your 6-digit access code is: <b>{sixDigitCode}</b>
        <br><br>
        This code is randomly generated and tied specifically to your
        account. When you first download and open the app, you'll be prompted to enter this code to verify your
        identity and gain access.
        <br><br>
        The code is an important security measure that protects your data and
        prevents unauthorized access to your account. Keep this code safe and do not share it with anyone.
        <br><br>
        If you have any trouble accessing the app with this code, please reach out to our support team at
        <a href="mailto:support@everyshotcounts.com" target="_blank">support@everyshotcounts.com</a>.
        <br><br>
        We're excited to have you on board! Let us know if you have any other questions as you get started.
        <br><br>
        Best regards,
        <br><br></div>
    <div>The Every Shot Counts Team</div>
</div>
