source_up

export PALLBEARER_HOME=`pwd`

export SCRIPTS=$PALLBEARER_HOME/src/main/scripts:$PALLBEARER_HOME/pallbearer-core/src/main/scripts:$PALLBEARER_HOME/pallbearer-core/src/test/scripts
export PATH=$PATH:$SCRIPTS

# Media storage path - used during migration to production tables
export PALLBEARER_MEDIA_STORE=/home/ankit/Downloads/thrones-development/media


# sudo systemctl status quarkus-backend.service 
# sudo systemctl start quarkus-backend.service 
# sudo systemctl restart quarkus-backend.service

