[Unit]
Description=Model Server
After=syslog.target network.target

[Service]
User=root
Group=root
Environment="PATH=/sbin:/bin:/usr/sbin:/usr/bin:/home/ubuntu/anaconda3/bin"
WorkingDirectory=/var/www/html/thrones-cv
ExecStart=/var/www/html/thrones-cv/thrones-cv-launcher.sh

[Install]
WantedBy=multi-user.target
