[Unit]
Description=A Quarkus service named pallbearer
After=syslog.target network.target

[Service]
User=root
Group=root
ExecStart=/usr/bin/java -jar /work/lektralabs.com/thrones/pallbearer/target/quarkus-app/quarkus-run.jar -Dquarkus.profile=prod

[Install]
WantedBy=multi-user.target
